/* -------- Variables -------- */

//------ Font-Family -------
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$teritary-font: 'Sen', sans-serif;

//------ Font-Weight ------
$primary-weight: 900;
$secondary-weight: 700;
$teritary-weight: 300;

// ------ Bg-Color -------
$bgcolor-1: #fff;
$bgcolor-2: #000;
$bgcolor-3: #6A57E3;


// ------- Colors -------
$primary-color: #fff;
$secondary-color: #000;
$color1: #3d3d3d;
$color2: #2e2e2d;
$color3: #a200ff;
$color4: #848efa;
$color5: #c6c3c3;
$color6: #f2f4f7;
$color7: rgba(76, 76, 76, 0.86);


/* --------- */

// ------- Box-shadow -------
$boxShadow-1 : 0px 0px 50px rgba(228, 232, 247, 0.3);
$boxShadow-2: 0px 0px 24px rgba(228, 232, 247, 0.8);;
/* --------- */